fastapi==0.70.0
uvicorn[standard]==0.15.0
requests==2.26.0
pillow==8.4.0
smartcrop==0.3.3
opentelemetry-sdk==1.6.2
opentelemetry-sdk-extension-aws==2.0.0
opentelemetry-exporter-jaeger==1.6.2
opentelemetry-distro[otlp]>=0.24b0
opentelemetry-instrumentation
